
// 字重 Font Weight
$font-weight-bold: 600;
$font-weight-normal: 400;
$font-weight-thin: 200;

// 字号 Font Size
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-h6: 20px;
$font-size-h5: 22px;
$font-size-h4: 25px;
$font-size-h3: 28px;
$font-size-h2: 32px;
$font-size-h1: 36px;

// 行高 Line Height
$line-height-small: 1.2em;
$line-height-normal: 1.6em;
$line-height-large: 1.8em;

// 边距 margin
$margin-small: 0.5em;
$margin-normal: 1em;
$margin-large: 1.5em;