<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} {{ print $.Site.Params.title_hyphen }} {{ $.Site.Title
    }}{{ end }}</title>

{{/*  设置 reset 样式  */}}
{{ with $.Params.reset }}
{{ $reset := (printf "resets/%s*" . | resources.GetMatch) }}
{{ if $reset }}
<link rel="stylesheet"
    href="{{ $reset.RelPermalink }}">
{{ end }}
{{ end }}

{{/*  设置 typography 样式  */}}
{{ with $.Params.typography }}
{{ $typography := ((printf "**/%s*" . | resources.GetMatch) | resources.ToCSS) }}
{{ if $typography }}
<link rel="stylesheet"
    href="{{ $typography.RelPermalink }}">
{{ end }}
{{ end }}

{{/*  网站排版  */}}
{{ $sass := resources.Get "scss/grid.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet"
    href="{{ $style.RelPermalink }}">


{{/*  Alpine.js 框架  */}}
<script src="//unpkg.com/alpinejs" defer></script>

<!-- hightlight.js -->
<link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.4.0/styles/github-dark-dimmed.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>